<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
<html>
    <head>
      <title>AppReview Manager</title>
    </head>
    <body>
        <div id="nav">
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('instructions') }}">Instructions</a></li>
            {% if current_user.is_authenticated %}
              <li style="float:right"> <a href="{{ url_for('logout') }}">Logout</a></li>
              {% if current_user.group %}
                <li style="float:right"> <a href="{{ url_for('group') }}">View Group</a></li>
              {% else %}
                <li style="float:right"> <a href="{{ url_for('join_group') }}">Join Group</a></li>
              {% endif %}
            {% else %}
              <li style="float:right"> <a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
          </ul>
      </div>
      <div id="errors">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>
        {% block content %}{% endblock %}
    </body>
</html>
