{% extends "base.html" %}

{% block content %}
    <h2> Manage Group </h2>
    {% if group %}
      <a href="{{ url_for('create_application') }}">Create a new Application </a> {% if app %} (Note: This will override the existing appliaction){% endif %}    
      <hr>
      {% if app %}
        <div>
          <p><b>{{ app.semester }}: </b> <br>
          Typeform: {{ app.typeform_link }} <br>
          Number of Applications: {{ app.num_apps }} <br>
          Reviews per Application: {{ app.reviews_per_app }} <br>
          {% if not app.application_list_serial %}
            <p>Status: Closed</p>
            <a href="{{ url_for('generate_queue') }}"> Open for Reviewing </a> <br>
          {% else %}
            <p>Status: Active</p>
            <a href="{{ url_for('application_queue') }}"> View the Queue </a> <br>
          {% endif %}
          </p>
        </div>
        <hr>
      {% endif %}
    {% else %}
     <a href="{{ url_for('create_group') }}">Create a Group</a>
    {% endif %}
{% endblock %}
