<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/review.css') }}">

{% extends "base.html" %}

{% block content %}
  <h1>Review Application:</h1>
  <p style="color:red"> Note: DO <b>NOT</b> REFRESH THE PAGE :) </p>
  <div id="numbox">
    {{ application_number }}
  </div>
  <div id="revbutton">
    <ul>
      <li><a href="{{ url_for('put_back') }}"> I know this person </a></li>
      <li><a href="{{ url_for('review_application') }}"> Review next application </a></li>
      <li><a href="{{ url_for('index') }}"> Checkout </a></li>
    </ul>
  </div>
  <br>
  {% for question, answer in data %}
  <b>Question:</b> {{ question }}<br>
  <b>Answer:</b>
    {% if "http" in answer %}
      <a href="{{ answer }}"> {{ answer }} </a>
    {% else %}
      {{ answer }}
    {% endif %}
  <br>
  <br>
  {% endfor %}
{% endblock %}
